
# Visual Studio files
.vs/
*.user

# Output object and binary folders
[Dd]ebug/
[Rr]elease/
[Bb]in/

# CMake / Linux build outputs
build/
build-*/
CMakeUserPresets.json
compile_commands.json
.cache/

